<!DOCTYPE html>
<html>
<body style="font-family:sans-serif">

<h2>Dashboard</h2>

Level: {{user.level}} <br>
XP: {{user.xp}} <br>
Coin: {{user.coin}} <br>
Streak: {{user.streak}} 🔥

<hr>

<h3>Görevler</h3>

{% for key,task in tasks.items() %}
<a href="/task/{{key}}">
<button>{{task.name}} (+{{task.coin}} coin / {{task.xp}} XP)</button>
</a>
<br><br>
{% endfor %}

<hr>

<h3>🎁 Gacha</h3>

<a href="/gacha">
<button>Gacha Aç (150 coin)</button>
</a>

<hr>

<h3>Loot Log</h3>
{% for l in user.loot_log %}
{{l}}<br>
{% endfor %}

<br>
<a href="/logout">Logout</a>

</body>
</html>
